<div class="max-w-screen-lg py-6 mx-auto mt-12">
    <div class="flex justify-center">
        <a href="https://jeksn.me" class="text-sm text-black/80">Copyright © <span id="currentYear"></span> Johan Eriksson / jeksn</a>
    </div>
</div>