<div class="flex flex-col items-center gap-3 mt-6 mb-16">
    <h1 class="text-4xl font-medium tracking-tight lg:text-6xl">Alpinist</h1>
    <div class="mt-4 space-y-2 text-center">
        <p class="text-lg tracking-tight">A small collection of Alpine.js utilities and components.</p>
        <p class="text-lg tracking-tight">Styled with TailwindCSS</p>
    </div>
</div>